SPOC/obj/Debug/
SPOC/bin/Debug/
SPOC.v11.suo
SPOC_Web/SPOC_Web.v11.suo
SPOC_Web/WebApplication1/obj/Debug/WebApplication1.pdb
SPOC_Web/WebApplication1/obj/Debug/WebApplication1.dll
SPOC_Web/WebApplication1/bin/WebApplication1.pdb
SPOC_Web/WebApplication1/bin/WebApplication1.dll
SPOC_Web/SPOC_Web.sln.DotSettings.user
SPOC_Web/WebApplication1/obj/Debug/WebApplication1.csprojResolveAssemblyReference.cache
SPOC_Web/WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
